### Pandas

<b> Series</b> - (Array of data and data labels, its index)

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
obj = Series([1,2,3,4])

In [5]:
# it will show series with index
obj

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
# Let's see values only

obj.values

array([1, 2, 3, 4], dtype=int64)

In [7]:
# Let's show the index
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
#Let's create a series with an index

ww2_cas = Series([870000,430000,400000,300000], index=['USSR','India','USA', 'Germany'])

In [9]:
ww2_cas

USSR       870000
India      430000
USA        400000
Germany    300000
dtype: int64

In [10]:
ww2_cas['India']

430000

In [15]:
ww2_cas[ww2_cas < 400000]

Germany    300000
dtype: int64

In [16]:
ww2_dict = ww2_cas.to_dict()

In [17]:
ww2_dict

{'Germany': 300000, 'India': 430000, 'USA': 400000, 'USSR': 870000}

In [18]:
ww2_dict['India']

430000

In [19]:
ww2_series = Series(ww2_dict)

In [20]:
ww2_series

Germany    300000
India      430000
USA        400000
USSR       870000
dtype: int64

In [21]:
countries = ['USA', 'Germany', 'India', 'USSR', 'China']

In [22]:
obj2 = Series(ww2_dict, index= countries)

In [23]:
obj2

USA        400000.0
Germany    300000.0
India      430000.0
USSR       870000.0
China           NaN
dtype: float64

In [25]:
# We can use isnull and notnull to find missing data
obj2.isnull()

USA        False
Germany    False
India      False
USSR       False
China       True
dtype: bool

In [27]:
obj2.notnull()

USA         True
Germany     True
India       True
USSR        True
China      False
dtype: bool

In [28]:
ww2_series

Germany    300000
India      430000
USA        400000
USSR       870000
dtype: int64

In [29]:
ww2_series + obj2

China            NaN
Germany     600000.0
India       860000.0
USA         800000.0
USSR       1740000.0
dtype: float64

In [30]:
obj2.name = 'World war 2 casualities'

In [31]:
obj2

USA        400000.0
Germany    300000.0
India      430000.0
USSR       870000.0
China           NaN
Name: World war 2 casualities, dtype: float64

In [33]:
obj2.index.name = ('Countries')

In [35]:
obj2

Countries
USA        400000.0
Germany    300000.0
India      430000.0
USSR       870000.0
China           NaN
Name: World war 2 casualities, dtype: float64

## DataFrames

In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
import webbrowser

In [ ]:
webiste = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(webiste)

True

In [ ]:
nfl_frame = pd.read_clipboard()

In [1]:
nfl_frame

NameError: name 'nfl_frame' is not defined