In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
#Let's make a dframe
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})

#Show
dframe

   dataset1  dataset2 k1     k2
0  0.759171  0.743356  X  alpha
1  0.634783  0.800429  X   beta
2 -0.357208  0.911259  Y  alpha
3 -1.910981  0.084336  Y   beta
4  1.947184 -0.933854  Z  alpha

In [3]:
#Now let's see how to use groupby

#Lets grab the dataset1 column and group it by the k1 key
group1 = dframe['dataset1'].groupby(dframe['k1'])

#Show the groupby object
group1

In [4]:
#Now we can perform operations on this particular group
group1.mean()

k1
X    0.696977
Y   -1.134094
Z    1.947184
Name: dataset1, dtype: float64

In [6]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.696977  0.771892
Y  -1.134094  0.497798
Z   1.947184 -0.933854

In [7]:
# Or multiple column names
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  0.759171  0.743356
   beta   0.634783  0.800429
Y  alpha -0.357208  0.911259
   beta  -1.910981  0.084336
Z  alpha  1.947184 -0.933854

In [8]:
# Another useful groupby method is getting the group sizes
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [10]:
dframe.groupby(['k2']).size()

k2
alpha    3
beta     2
dtype: int64

In [11]:
dframe

   dataset1  dataset2 k1     k2
0  0.759171  0.743356  X  alpha
1  0.634783  0.800429  X   beta
2 -0.357208  0.911259  Y  alpha
3 -1.910981  0.084336  Y   beta
4  1.947184 -0.933854  Z  alpha

In [17]:
# We can also iterate over groups

#For example:
for name,group in dframe.groupby('k1'):
    print("This is {} group" .format(name))
    print (group)
    print ('\n')

This is X group
   dataset1  dataset2 k1     k2
0  0.759171  0.743356  X  alpha
1  0.634783  0.800429  X   beta


This is Y group
   dataset1  dataset2 k1     k2
2 -0.357208  0.911259  Y  alpha
3 -1.910981  0.084336  Y   beta


This is Z group
   dataset1  dataset2 k1     k2
4  1.947184 -0.933854  Z  alpha

In [18]:
# We can also iterate with multiple keys
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print("K1 = %s, K2= %s" %(k1,k2))
    print (group)
    print("\n")

K1 = X, K2= alpha
   dataset1  dataset2 k1     k2
0  0.759171  0.743356  X  alpha


K1 = X, K2= beta
   dataset1  dataset2 k1    k2
1  0.634783  0.800429  X  beta


K1 = Y, K2= alpha
   dataset1  dataset2 k1     k2
2 -0.357208  0.911259  Y  alpha


K1 = Y, K2= beta
   dataset1  dataset2 k1    k2
3 -1.910981  0.084336  Y  beta


K1 = Z, K2= alpha
   dataset1  dataset2 k1     k2
4  1.947184 -0.933854  Z  alpha

In [21]:
# A possibly useful tactic is creating a dictionary of the data pieces 
group_dict = dict(list(dframe.groupby('k1')))

#Show the group with X
group_dict['X']

   dataset1  dataset2 k1     k2
0  0.759171  0.743356  X  alpha
1  0.634783  0.800429  X   beta

In [22]:
group_dict['Y']

   dataset1  dataset2 k1     k2
2 -0.357208  0.911259  Y  alpha
3 -1.910981  0.084336  Y   beta

In [23]:
# We could have also chosen to do this with axis = 1

# Let's creat a dictionary for dtypes of objects!
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

#show
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  0.759171  0.743356
 1  0.634783  0.800429
 2 -0.357208  0.911259
 3 -1.910981  0.084336
 4  1.947184 -0.933854, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [25]:
# For example if we only wanted to group the dataset2 column with both sets of keys
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]
dataset2_group.mean()

          dataset2
k1 k2
X  alpha  0.743356
   beta   0.800429
Y  alpha  0.911259
   beta   0.084336
Z  alpha -0.933854

In [26]:
group_dict2 = dict(list(dframe.groupby('k2')))

In [29]:
group_dict2['alpha']

   dataset1  dataset2 k1     k2
0  0.759171  0.743356  X  alpha
2 -0.357208  0.911259  Y  alpha
4  1.947184 -0.933854  Z  alpha

## GroupBy on Dict and Series

In [30]:
# Let's make a Dframe

animals = DataFrame(np.arange(16).reshape(4, 4),
                   columns=['W', 'X', 'Y', 'Z'],
                   index=['Dog', 'Cat', 'Bird', 'Mouse'])

#Now lets add some NAN values
animals.ix[1:2, ['W', 'Y']] = np.nan 

#Show
animals

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [31]:
# Now let's say I had a dictionary with ebhavior values in it
behavior_map = {'W': 'good', 'X': 'bad', 'Y': 'good','Z': 'bad'}

In [32]:
# Now we can groupby using that mapping
animal_col = animals.groupby(behavior_map, axis=1)

# Show the sum accroding to the groupby with the mapping
animal_col.sum()

# For example [dog][good] = [dog][Y]+[dog][W]

        bad  good
Dog     4.0   2.0
Cat    12.0   NaN
Bird   20.0  18.0
Mouse  28.0  26.0

In [33]:
# Now let's try it with a Series
behav_series = Series(behavior_map)

#Show
behav_series

W    good
X     bad
Y    good
Z     bad
dtype: object

In [34]:
# Now let's groupby the Series

animals.groupby(behav_series, axis=1).count()

       bad  good
Dog      2     2
Cat      2     0
Bird     2     2
Mouse    2     2

In [35]:
# We can also groupby with functions!

#Show our dframe again
animals

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [36]:
animals.groupby(len).sum()

      W   X     Y   Z
3   0.0   6   2.0  10
4   8.0   9  10.0  11
5  12.0  13  14.0  15

In [37]:
# We can also mix functions with arrays,dicts, and Series for groupby methods

# Set a list for keys
keys = ['A', 'B', 'A', 'B']

# Now groupby length of name and the keys to show max values
animals.groupby([len, keys]).max()

        W   X     Y   Z
3 A   0.0   1   2.0   3
  B   NaN   5   NaN   7
4 A   8.0   9  10.0  11
5 B  12.0  13  14.0  15

In [38]:
# We can also use groupby with hierarchaly index levels

#Create a hierarchal column index
hier_col = pd.MultiIndex.from_arrays([['NY','NY','NY','SF','SF'],[1,2,3,1,2]],names=['City','sub_value'])

# Create a dframe with hierarchal index
dframe_hr = DataFrame(np.arange(25).reshape(5,5),columns=hier_col)

#Multiply values by 100 for clarity
dframe_hr = dframe_hr*100

#Show
dframe_hr

City         NY                SF
sub_value     1     2     3     1     2
0             0   100   200   300   400
1           500   600   700   800   900
2          1000  1100  1200  1300  1400
3          1500  1600  1700  1800  1900
4          2000  2100  2200  2300  2400