### Pandas

<b> Series</b> - (Array of data and data labels, its index)

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
obj = Series([1,2,3,4])

In [5]:
# it will show series with index
obj

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
# Let's see values only

obj.values

array([1, 2, 3, 4], dtype=int64)

In [7]:
# Let's show the index
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
#Let's create a series with an index

ww2_cas = Series([870000,430000,400000,300000], index=['USSR','India','USA', 'Germany'])

In [9]:
ww2_cas

USSR       870000
India      430000
USA        400000
Germany    300000
dtype: int64

In [10]:
ww2_cas['India']

430000

In [15]:
ww2_cas[ww2_cas < 400000]

Germany    300000
dtype: int64

In [16]:
ww2_dict = ww2_cas.to_dict()

In [17]:
ww2_dict

{'Germany': 300000, 'India': 430000, 'USA': 400000, 'USSR': 870000}

In [18]:
ww2_dict['India']

430000

In [19]:
ww2_series = Series(ww2_dict)

In [20]:
ww2_series

Germany    300000
India      430000
USA        400000
USSR       870000
dtype: int64

In [21]:
countries = ['USA', 'Germany', 'India', 'USSR', 'China']

In [22]:
obj2 = Series(ww2_dict, index= countries)

In [23]:
obj2

USA        400000.0
Germany    300000.0
India      430000.0
USSR       870000.0
China           NaN
dtype: float64

In [25]:
# We can use isnull and notnull to find missing data
obj2.isnull()

USA        False
Germany    False
India      False
USSR       False
China       True
dtype: bool

In [27]:
obj2.notnull()

USA         True
Germany     True
India       True
USSR        True
China      False
dtype: bool

In [28]:
ww2_series

Germany    300000
India      430000
USA        400000
USSR       870000
dtype: int64

In [29]:
ww2_series + obj2

China            NaN
Germany     600000.0
India       860000.0
USA         800000.0
USSR       1740000.0
dtype: float64

In [30]:
obj2.name = 'World war 2 casualities'

In [31]:
obj2

USA        400000.0
Germany    300000.0
India      430000.0
USSR       870000.0
China           NaN
Name: World war 2 casualities, dtype: float64

In [33]:
obj2.index.name = ('Countries')

In [35]:
obj2

Countries
USA        400000.0
Germany    300000.0
India      430000.0
USSR       870000.0
China           NaN
Name: World war 2 casualities, dtype: float64

## DataFrames

In [5]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
import webbrowser

In [6]:
# webiste = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
# webbrowser.open(webiste)

In [8]:
nfl_frame = pd.read_csv("NFL_win_loss.csv")

In [10]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [11]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [14]:
nfl_frame.Team

0            Chicago Bears
1           Dallas Cowboys
2        Green Bay Packers
3           Miami Dolphins
4     New England Patriots
5      San Francisco 49ers
6         Baltimore Ravens
7        Minnesota Vikings
8          New York Giants
9           Denver Broncos
10      Indianapolis Colts
11         Oakland Raiders
12     Pittsburgh Steelers
13      Kansas City Chiefs
14     Washington Redskins
15        Cleveland Browns
16        Seattle Seahawks
17      San Diego Chargers
18        Los Angeles Rams
Name: Team, dtype: object

In [15]:
DataFrame(nfl_frame, columns=['Team', 'Total Games', 'Division'])

                    Team Total Games   Division
0          Chicago Bears       1,338  NFC North
1         Dallas Cowboys         850   NFC East
2      Green Bay Packers       1,304  NFC North
3         Miami Dolphins         768   AFC East
4   New England Patriots         852   AFC East
5    San Francisco 49ers         970   NFC West
6       Baltimore Ravens         320  AFC North
7      Minnesota Vikings         838  NFC North
8        New York Giants       1,273   NFC East
9         Denver Broncos         852   AFC West
10    Indianapolis Colts         934  AFC South
11       Oakland Raiders         852   AFC West
12   Pittsburgh Steelers       1,140  AFC North
13    Kansas City Chiefs         852   AFC West
14   Washington Redskins       1,170   NFC East
15      Cleveland Browns         922  AFC North
16      Seattle Seahawks         628   NFC West
17    San Diego Chargers         852   AFC West
18      Los Angeles Rams       1,103    NFC Wes

In [17]:
DataFrame(nfl_frame, columns=['Team', 'Total Games', 'Won', 'Lost', 'Ration'])

                    Team Total Games  Won  Lost  Ration
0          Chicago Bears       1,338  741   555     NaN
1         Dallas Cowboys         850  480   364     NaN
2      Green Bay Packers       1,304  720   547     NaN
3         Miami Dolphins         768  429   335     NaN
4   New England Patriots         852  462   381     NaN
5    San Francisco 49ers         970  520   436     NaN
6       Baltimore Ravens         320  173   146     NaN
7      Minnesota Vikings         838  449   379     NaN
8        New York Giants       1,273  673   567     NaN
9         Denver Broncos         852  456   386     NaN
10    Indianapolis Colts         934  494   433     NaN
11       Oakland Raiders         852  444   397     NaN
12   Pittsburgh Steelers       1,140  590   530     NaN
13    Kansas City Chiefs         852  435   405     NaN
14   Washington Redskins       1,170  578   565     NaN
15      Cleveland Browns         922  461   451     NaN
16      Seattle Seahawks         628  315   313     NaN
17    San Diego Chargers         852  421   420     NaN
18      Los Angeles Rams       1,103  540   542     NaN

In [20]:
nfl_frame['Ration'] = nfl_frame.Won/nfl_frame.Lost

In [21]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Ration
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,1.335135
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1.318681
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,1.316271
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,1.280597
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,1.212598
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,1.192661
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North,1.184932
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North,1.184697
8,9,New York Giants,673,567,33,0.542,1925,"1,273",NFC East,1.186949
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West,1.181347
10,11,Indianapolis Colts,494,433,7,0.533,1953,934,AFC South,1.140878
11,12,Oakland Raiders,444,397,11,0.528,1960,852,AFC West,1.118388
12,13,Pittsburgh Steelers,590,530,20,0.526,1933,"1,140",AFC North,1.113208
13,14,Kansas City Chiefs,435,405,12,0.518,1960,852,AFC West,1.074074
14,15,Washington Redskins,578,565,27,0.506,1932,"1,170",NFC East,1.023009
15,16,Cleveland Browns,461,451,10,0.505,1950,922,AFC North,1.022173
16,17,Seattle Seahawks,315,313,0,0.502,1976,628,NFC West,1.006390
17,18,San Diego Chargers,421,420,11,0.501,1960,852,AFC West,1.002381
18,19,Los Angeles Rams,540,542,21,0.499,1937,"1,103",NFC Wes,0.996310

In [31]:
data = {'City': ['India', 'USA', 'Russia', 'China'], 'Population': [50000000,40000100,5000000,549818545]}

In [43]:
city_frame = DataFrame(data)

In [44]:
city_frame

     City  Population
0   India    50000000
1     USA    40000100
2  Russia     5000000
3   China   549818545

In [ ]:
city_frame = np.where(city_frame.Population < 40000100, 500000000, city_frame.Population)

In [41]:
city_frame

array([ 50000000,  40000100, 500000000, 549818545], dtype=int64)

## Index Objects

In [45]:
my_series = Series([1,2,3,4], index=['A','B','C','D'])

In [46]:
my_series

A    1
B    2
C    3
D    4
dtype: int64

In [47]:
my_index = my_series.index

In [48]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [49]:
my_index[0]

'A'

In [50]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [51]:
my_index[2]

'C'

In [52]:
my_index[-1]

'D'

In [54]:
my_index[:1]

Index(['A'], dtype='object')

In [55]:
# Indexs are not mutable 
my_index[0] = 'Z'

TypeError: Index does not support mutable operations

## Reindex

In [56]:
series = Series([1,2,3,4], index=['A','B','C','D'])

In [57]:
series

A    1
B    2
C    3
D    4
dtype: int64

In [59]:
series.reindex(['A','B','C','D','E'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [60]:
series.reindex(['A','B','C','D','E'], fill_value = 5)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [61]:
countries = Series(['India','USA','Russia','Japan'], index=['IN', 'US', 'RU', 'JA'])

In [62]:
countries

IN     India
US       USA
RU    Russia
JA     Japan
dtype: object

In [64]:
countries = Series(['India','USA','Russia','Japan'], index=[0,5,10,15])

In [65]:
countries.reindex(range(15), method='ffill')

0      India
1      India
2      India
3      India
4      India
5        USA
6        USA
7        USA
8        USA
9        USA
10    Russia
11    Russia
12    Russia
13    Russia
14    Russia
dtype: object

In [67]:
from numpy.random import randn
#Reindexing rows, columns or both

#Lets make a datafram ewith some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

       col1      col2      col3      col4      col5
A -0.194447  2.004283 -0.721339  0.035626  0.414991
B -1.329812 -0.213911  1.707414 -0.653968  0.868050
D -0.286959  0.591036  0.663151  1.703544  0.217924
E -0.931069  1.384955  0.246531 -0.066089  0.100393
F -0.194551  0.401240  0.768842  0.335797 -0.922858

In [68]:
dframe2 = dframe.reindex(['A','B','C','D','E'])

In [69]:
dframe2

       col1      col2      col3      col4      col5
A -0.194447  2.004283 -0.721339  0.035626  0.414991
B -1.329812 -0.213911  1.707414 -0.653968  0.868050
C       NaN       NaN       NaN       NaN       NaN
D -0.286959  0.591036  0.663151  1.703544  0.217924
E -0.931069  1.384955  0.246531 -0.066089  0.100393

In [70]:
new_cols = ['col1', 'col2','col3','col4','col5','col6']

In [71]:
dframe2.reindex(columns=new_cols)

       col1      col2      col3      col4      col5  col6
A -0.194447  2.004283 -0.721339  0.035626  0.414991   NaN
B -1.329812 -0.213911  1.707414 -0.653968  0.868050   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.286959  0.591036  0.663151  1.703544  0.217924   NaN
E -0.931069  1.384955  0.246531 -0.066089  0.100393   NaN