In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
dframe = pd.read_csv('workingWithTextFiles.csv')

In [5]:
dframe #its taking first row as index

   a  b  c  d   apple
0  1  2  3  4  rabbit
1  a  s  d  f     dog
2  5  6  7  8     ram

In [6]:
dframe = pd.read_csv('workingWithTextFiles.csv', header=None)

In [7]:
dframe

   0  1  2  3       4
0  a  b  c  d   apple
1  1  2  3  4  rabbit
2  a  s  d  f     dog
3  5  6  7  8     ram

In [8]:
dframe = pd.read_table('workingWithTextFiles.csv', sep=',', header=None)

In [9]:
dframe

   0  1  2  3       4
0  a  b  c  d   apple
1  1  2  3  4  rabbit
2  a  s  d  f     dog
3  5  6  7  8     ram

In [10]:
dframe = pd.read_table('workingWithTextFiles.csv', sep=',', header=None, nrows=2)

In [11]:
dframe

   0  1  2  3       4
0  a  b  c  d   apple
1  1  2  3  4  rabbit

In [12]:
#To save in csv format

dframe.to_csv('myoutCsv.csv')

In [13]:
import sys

In [14]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,a,b,c,d,apple
1,1,2,3,4,rabbit

In [15]:
dframe.to_csv(sys.stdout, sep='?')

?0?1?2?3?4
0?a?b?c?d?apple
1?1?2?3?4?rabbit